{{# partial "contenido" }}
    <section class="section-registrar">
        <div class="container__registro">
            <div class="registro">
                <form action="/caracteristicas" method="POST">
                    <div class="crear_caracteristica">
                        <h2>Complete nueva caracteristica</h2>
                        <div>
                            <label class="registro__label" style="display:inline-block; width: 150px">Descripción:</label>
                            <input type="text" name="registro-descripcion" class="registro__input" id="registro-descripcion" style="display:inline-block" required>
                        </div>
                        <div>
                            <label class="registro__label" style="display:inline-block;  width: 150px">Obligatoria:</label>
                            <select name="registro-obligatoria" class="registro__input" id="registro-obligatoria" style="display:inline-block" required>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                        <div>
                            <label class="registro__label" style="display:inline-block;  width: 150px">Tipo de Caracteristica:</label>
                                <select
                                        name="registro-tipoCaracteristica"
                                        class="registro__input"
                                        id="registro-tipoCaracteristica"
                                        required
                                        onchange="setOpcionesAgregables(this.value)"
                                        style="display:inline-block">
                                        <option disabled selected> Seleccionar tipo...</option>

                                    {{#each tipoCaracteristicas}}
                                        <option value="{{this}}">{{this}}</option>
                                    {{/each}}
                                </select>
                        </div>
                    </div>
                    <div>
                        <input type="submit" class="boton-submit" value="Crear Caracteristica">
                    </div>
                    <hr>
                    <div class="caracteristicas_cargadas">
                        {{!-- TODO: Cargar lo que existe --}}
                        <h2></br>Caracteristicas Disponibles</h2></br>
                        <div>Caracteristica1</div>
                        <div>Caracteristica2</div>
                        <div>Caracteristica3</div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script>
        let caracteristicas = document.querySelector('div.crear_caracteristica');
        const opcion = (id) => `
                    <label class="registro__label" style="display:inline-block;  width: 150px">Opcion:</label>
                    <input type="text"
                           name="registro-descripcion"
                           class="registro__input"
                           id="registro-opcion${id}"
                           style="display:inline-block"
                           value=
                    >
                    <button onclick=this.parentElement.remove()> Eliminar </button>
                    <button onclick=salvarYagregarOpcion(this)> Agregar </button>
            `
        const reiniciarCaracteristicas = () => {
            caracteristicas.querySelector('ul')?.remove();
            caracteristicas.append(document.createElement('ul'));
        }
        const salvarYagregarOpcion = (element) => {
            const input = element.parentElement.querySelector('input');
            input.setAttribute('value', input.value);
            agregarOpcion(opcion);
        }
        const agregarOpcion = (opcion) => {
            const idOpcion = caracteristicas.querySelectorAll('li').length + 1;
            caracteristicas.querySelector('ul').innerHTML += `<li>${opcion(idOpcion)}</li>`
        }
        const setOpcionesAgregables = (value) => {
            const opcionesAgregables = ["BULLET", "CHECKBOX"].includes(value);

            reiniciarCaracteristicas();
            if (opcionesAgregables) {
                agregarOpcion(opcion);
            }
        }
    </script>
{{/partial}}
{{# partial "footer" }}
{{/partial}}

{{> layout.html.hbs }}