{{# partial "contenido" }}
    <section class="section-registrar">
        <div class="container__registro">
            <div class="registro">
                <form action="/caracteristicas" method="POST">
                    <div class="crear_caracteristica">
                        <h2>Complete nueva caracteristica</h2>
                        <div>
                            <label class="registro__label"
                                   style="display:inline-block; width: 150px">Descripción:</label>
                            <input type="text" name="descripcion" class="registro__input"
                                   id="descripcion" style="display:inline-block" required>
                        </div>
                        <div>
                            <label class="registro__label"
                                   style="display:inline-block;  width: 150px">Obligatoria:</label>
                            <select name="obligatoria" class="registro__input" id="obligatoria"
                                    style="display:inline-block" required>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </div>
                        <div>
                            <label class="registro__label" style="display:inline-block;  width: 150px">Tipo de
                                Caracteristica:</label>
                            <select
                                    name="tipoCaracteristica"
                                    class="registro__input"
                                    id="tipoCaracteristica"
                                    required
                                    onchange="setOpcionesAgregables(this.value)"
                                    style="display:inline-block">
                                {{#each tipoCaracteristicas}}
                                    <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div>
                        <input type="submit" class="boton-submit" value="Crear Caracteristica">
                    </div>
                    <hr>
                    <div id="informacion">
                        <div class="informacion-flex">
                            <p>
                                {{error}}
                            </p>
                        </div>
                    </div>
                    <div class="caracteristicas_cargadas">
                        {{!-- TODO: Cargar lo que existe --}}
                        <h2></br>Caracteristicas Disponibles</h2></br>
                        <div>Caracteristica1</div>
                        <div>Caracteristica2</div>
                        <div>Caracteristica3</div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script>
        let caracteristicas = document.querySelector('div.crear_caracteristica');

        let opciones = 0;

        const opcion = (numero) => `
            <label class="registro__label" style="display:inline-block;  width: 150px">Opcion ${numero}:</label>
            <input type="text"
                   name="opcion-${numero}"
                   class="registro__input"
                   id="opcion-${numero}"
                   style="display:inline-block"
            >`

        const agregarOpcionBoton = `
            <button onclick=salvarYagregarOpcion(this)><i class="fas fa-plus"></i></button>
        `

        const sacarOpcionBoton = `
            <button onclick=eliminarOpcion(this)><i class="fas fa-minus"></i></button>
        `

        const reiniciarCaracteristicas = () => {
            caracteristicas.querySelector('ul')?.remove();
            caracteristicas.append(document.createElement('ul'));
            opciones = 0;
        }

        const salvarYagregarOpcion = (element) => {
            const input = element.parentElement.querySelector('input');
            input.setAttribute('value', input.value);

            caracteristicas.querySelectorAll('li').forEach((item) => {
                const input = item.lastElementChild
                input.setAttribute('value', input.value);
            })

            agregarOpcion();
        }

        const agregarOpcion = () => {
            opciones++
            caracteristicas.querySelector('ul').innerHTML += `<li>${opcion(opciones)}</li>`
            renderBotonesOpciones();
        }

        const eliminarOpcion = (element) => {
            opciones--;
            element.parentElement?.remove()
            renderBotonesOpciones()
        }

        const renderBotonesOpciones = () => {
            caracteristicas.querySelectorAll('li').forEach((item, index) => {
                if (opciones === 1) {
                    item.innerHTML += agregarOpcionBoton;
                    return;
                }

                if (opciones === ++index) {
                    item.innerHTML += agregarOpcionBoton + sacarOpcionBoton;
                    return;
                }

                item.querySelectorAll('button')?.forEach(button => button.remove())
            })
        }

        const setOpcionesAgregables = (value) => {
            const opcionesAgregables = ["BULLET", "CHECKBOX"].includes(value);

            reiniciarCaracteristicas();

            if (!opcionesAgregables) {
                agregarOpcion();
            }
        }
    </script>
{{/partial}}
{{# partial "footer" }}
{{/partial}}

{{> layout.html.hbs }}