{{# partial "contenido" }}
    <section>
        <div id="encontre_mascota" class="encontre_mascota">
            <div class="container-encontre_mascota">
                <img src="/imagenes/mascotaConChapa.png" class="imagen_mascota_con_chapa">
                <button class="boton-submit"><a href="/mascota_con_chapa" style="color:black;">Mascota con Chapa</a></button>
            </div>
            <div class="container-encontre_mascota">
                <img src="/imagenes/mascotaSinChapa.png" class="imagen_mascota_sin_chapa">
                <button class="boton-submit"><a href="/mascota_sin_chapa" style="color:black;">Mascota sin Chapa</a></button>
            </div>
        </div>    
    </section>
{{/partial}}
{{> layout.html.hbs }}