{{# partial "contenido" }}
    <section>
        <div id="encontre_mascota">
            <div class="container-encontre_mascota"> 
                <a href="/mascota_con_chapa">Mascota con Chapa</a> 
                <a href="/mascota_sin_chapa">Mascota sin Chapa</a>
            </div>
        </div>    
    </section>
{{/partial}}
{{> layout.html.hbs }}