{{# partial "contenido" }}
    <section>
        <div id="encontre_mascota">
            <div class="container-encontre_mascota"> 
                <button class="boton-submit"><a href="/mascota_con_chapa" style="color:black;">Mascota con Chapa</a></button>
                <button class="boton-submit"><a href="/mascota_sin_chapa" style="color:black;">Mascota sin Chapa</a></button>
            </div>
        </div>    
    </section>
{{/partial}}
{{> layout.html.hbs }}