{{# partial "contenido" }}
		<section>
			<div class="banner">
				<img src="imagenes/portada-transparente.png" width="100%" alt="Banner" title="Portada-Principal">
			</div>
			<div id="informacion">
				<div class="container-informacion">
					<div class="informacion-flex">
						<h3>Sobre Nosotros: </h3>
						<h4>¿Quienes somos?</h4>
						<p>
							Somos una organización que trata de tener un registro de todas las mascotas enlazandolas con sus dueños.
							De esta manera al perderse una de las mascotas es mas fácil, rápido y sencillo encontrar a sus dueños.
						</p>
						<h4>¿Que podes hacer en esta Web App si tenes un mascota?</h4>
						<p>
							Podes registrarlas completando el formulario que se encuentra en el bóton de "Regsitrar mi Mascota" en el cual tenes que cargar desde sus caractetisticas
							físicas hasta su personalidad. Tené en cuenta que para esto tenes que poseer un usuario y estar logueado.
						</p>
						<h4>¿Y si encontraste un mascota?</h4>
						<p>
							Podes registrar que encontraste una mascota completando el formulario que se encuentra en el bóton de "Encontré una Mascota" en el cual tenes que cargar sus caractetisticas
							físicas, fotos y demás información que ayude a sus dueños a identificarla facilmente. Tené en cuenta que para esto tenes que poseer un usuario y estar logueado.
						</p>
						<h4>Pero.........¿Si posee una chapa Identificatoria con un código?</h4>
						<p>
							De esta manera es mas sencillo ya que cargando ese código en la página se encuentra a sus dueños inmediatamente.
						</p>
					</div>
				</div>
			</div>
			<div id="contacto">
				<div class="contacto">
					<form>
						<div class="contacto__info">
							<ul class="contacto__info__inputs">	
								<li><label class="label-contacto">Ingrese su nombre:</label></li>
								<li><input type="text" name="contacto__info__nombre" required="" class="input_text"></li>
								<li><label class="label-contacto">Ingrese su apellido:</label></li>
								<li><input type="text" name="contacto__info__apellido" required=""class="input_text"></li>
								<li><label class="label-contacto">Ingrese su e-mail:</label></li>
								<li><input type="email" name="contacto__info__mail" required=""class="input_text"></li>
							</ul>
						</div>
						<div class="contacto__consulta">
							<textarea class="contacto__consulta__texto" cols="40" rows="8" required=""></textarea>
							<input type="submit" class="boton-submit">
						</div>
					</form>
				</div>
			</div>
		</section>
{{/partial}}

{{> layout.html.hbs }}