{{# partial "contenido" }}
			<div id="login">
				<div class="container-login">
				<form action="/login" method="POST">
					<form>
						<div class="contacto__info">
							<ul class="contacto__info__inputs">
								<li><label class="label-contacto">Usuario:</label></li>
								<li><input type="text" name="usuario" required="" class="input_text" autofocus></li>
								<li><label class="label-contacto">Password:</label></li>
								<li><input type="password" name="password" required=""class="input_text"></li>
								<li><input type="submit" value="Ingresar" class="boton-submit"></li>
							</ul>
						</div>
						<div id="informacion">
							<div class="informacion-flex">
								<p>
									No posee usuario? <a href="/registro"><h2>Registrese</h2></a>
								</p>
							</div>
						</div>
					</form>
				</div>
			</div>
{{/partial}}
{{# partial "footer" }}
{{/partial}}

{{> layout.html.hbs }}