{{# partial "contenido" }}
		<section class="section-registrar">
			<div class="container__registro">
				<div class="registro">
					<form>
						<ul>
						    {{#if esDuenio}}
							<h3>Complete la siguiente información sobre usted:</h3>
							<li><label class="registro__label">Ingrese su nombre completo:</label></li>
							<li><input type="text" class="registro__input" id="registro-nombreDuenio" required></li>
							<li><label class="registro__label">Ingrese su apellido:</label></li>
							<li><input type="text" class="registro__input" id="registro-apellido" required></li>
							<li><label class="registro__label">Seleccione tipo de documento:</label></li>
							<li>
								<select name="tipoDocumento" class="registro__input" id="registro-tipoDocumento" required>
									<option>Seleccione el tipo de documento correspondiente</option>
									<option value="DNI">DNI</option>
									<option value="LE">LE</option>
									<option value="CEDULA">CEDULA</option>
								</select>
							</li>
							<li><label class="registro__label">Ingrese su documento:</label></li>
							<li><input type="text" class="registro__input" id="registro-documento" required></li>
							<li><label class="registro__label">Ingrese su fecha de nacimiento:</label></li>
							<li><input type="text" class="registro__input" id="registro-fechaNacimiento" required></li>
							<br><br><br><br>
							<h3>Ingrese los posibles contactos a comunicarse al hallar a su mascota:</h3>
							<br><br>
							<h3>Contacto 1:</h3>
							<li><label class="registro__label">Ingrese nombre:</label></li>
							<li><input type="text" class="registro__input" id="registro-nombreContacto1" required></li>
							<li><label class="registro__label">Ingrese apellido:</label></li>
							<li><input type="text" class="registro__input" id="registro-apellidoContacto1" required></li>
							<li><label class="registro__label">Ingrese telefono:</label></li>
							<li><input type="text" class="registro__input" id="registro-telefonoContacto1" required></li>
							<li><label class="registro__label">Ingrese mail:</label></li>
							<li><input type="mail" class="registro__input" id="registro-mailContacto1" required></li>
							<li><label class="registro__label">Seleccione tipo de vinculo:</label></li>
							<li>
								<select name="vinculo" class="registro__input" id="registro-vinculoContacto1" required>
									<option>Seleccione el tipo de viculo correspondiente</option>
									<option value="TITULAR">Titular</option>
									<option value="FAMILIAR">Amistad</option>
									<option value="AMISTAD">Familiar</option>
								</select>
							</li>
                            <br><br>
                            <h3>Contacto 2:</h3>
                            <li><label class="registro__label">Ingrese nombre:</label></li>
                            <li><input type="text" class="registro__input" id="registro-nombreContacto2" required></li>
                            <li><label class="registro__label">Ingrese apellido:</label></li>
                            <li><input type="text" class="registro__input" id="registro-apellidoContacto2" required></li>
                            <li><label class="registro__label">Ingrese telefono:</label></li>
                            <li><input type="text" class="registro__input" id="registro-telefonoContacto2" required></li>
                            <li><label class="registro__label">Ingrese mail:</label></li>
                            <li><input type="mail" class="registro__input" id="registro-mailContacto2" required></li>
                            <li><label class="registro__label">Seleccione tipo de vinculo:</label></li>
                            <li>
                                <select name="vinculo" class="registro__input" id="registro-vinculoContacto2" required>
                                    <option>Seleccione el tipo de viculo correspondiente</option>
                                    <option value="TITULAR">Titular</option>
                                    <option value="FAMILIAR">Amistad</option>
                                    <option value="AMISTAD">Familiar</option>
                                </select>
                            </li>
							<br><br><br><br>
							<h3>Complete los siguientes datos de su mascota:</h3>
							<li><label class="registro__label">Seleccione tipo de Mascota:</label></li>
							<li>
								<select name="especie" class="registro__input" id="registro-especie" required>
									<option>Seleccione la especie correspondiente</option>
									<option value="PERRO">Perro</option>
									<option value="GATO">Gato</option>
								</select>
							</li>
							<li><label class="registro__label">Ingrese el nombre:</label></li>
							<li><input type="text" class="registro__input" id="registro-nombre" required></li>
							<li><label class="registro__label">Ingrese el apodo:</label></li>
							<li><input type="text" class="registro__input" id="registro-apodo" required></li>
							<li><label class="registro__label">Ingrese la edad:</label></li>
							<li><input type="text" class="registro__input" id="registro-edad" required></li>
							<li><label class="registro__label">Seleccione el sexo:</label></li>
							<li>
								<select name="sexo" class="registro__input" id="registro-sexo" required>
									<option>Seleccione el sexo correspondiente</option>
									<option value="MACHO">Macho</option>
									<option value="HEMBRA">Hembra</option>
								</select>
							</li>
							<li><label class="registro__label">Ingrese una descripción física:</label></li>
							<li><textarea class="registro__textarea" id="registro-descripcion" cols="63" rows="10" required></textarea></li>
							<li><label class="registro__label">Seleccione imagenes:</label></li>
							<li><input type="file" class="registro__file" id="registro-fotos" required></li>
							<li><label class="registro__label">Seleccione las caracteristicas que se asocien a su Mascota:</label></li>
							<li>
								<select multiple name="caracteristicas" class="registro__input__select" id="registro-caracteristicas" >
									<option value="">Caracteristica 1</option>
									<option value="">Caracteristica 2</option>
									<option value="">Caracteristica 3</option>
									<option value="">Caracteristica 4</option>
									<option value="">Caracteristica 5</option>
									<option value="">Caracteristica 6</option>
									<option value="">Caracteristica 7</option>
									<option value="">Caracteristica 8</option>
									<option value="">Caracteristica 9</option>
									<option value="">Caracteristica 10</option>
									<option value="">Caracteristica 11</option>
									<option value="">Caracteristica 12</option>
									<option value="">Caracteristica 13</option>
								</select>
							</li>
							<li><input type="submit" class="boton-submit" value="Registrar Mascota"></li>
							{{#else}}
                            <h3>Complete los siguientes datos de su mascota:</h3>
                            <li><label class="registro__label">Seleccione tipo de Mascota:</label></li>
                            <li>
                                <select name="especie" class="registro__input" id="registro-especie" required>
                                    <option>Seleccione la especie correspondiente</option>
                                    <option value="PERRO">Perro</option>
                                    <option value="GATO">Gato</option>
                                </select>
                            </li>
                            <li><label class="registro__label">Ingrese el nombre:</label></li>
                            <li><input type="text" class="registro__input" id="registro-nombre" required></li>
                            <li><label class="registro__label">Ingrese el apodo:</label></li>
                            <li><input type="text" class="registro__input" id="registro-apodo" required></li>
                            <li><label class="registro__label">Ingrese la edad:</label></li>
                            <li><input type="text" class="registro__input" id="registro-edad" required></li>
                            <li><label class="registro__label">Seleccione el sexo:</label></li>
                            <li>
                                <select name="sexo" class="registro__input" id="registro-sexo" required>
                                    <option>Seleccione el sexo correspondiente</option>
                                    <option value="MACHO">Macho</option>
                                    <option value="HEMBRA">Hembra</option>
                                </select>
                            </li>
                            <li><label class="registro__label">Ingrese una descripción física:</label></li>
                            <li><textarea class="registro__textarea" id="registro-descripcion" cols="63" rows="10" required></textarea></li>
                            <li><label class="registro__label">Seleccione imagenes:</label></li>
                            <li><input type="file" class="registro__file" id="registro-fotos" required></li>
                            <li><label class="registro__label">Seleccione las caracteristicas que se asocien a su Mascota:</label></li>
                            <li>
                                <select multiple name="caracteristicas" class="registro__input__select" id="registro-caracteristicas" >
                                    <option value="">Caracteristica 1</option>
                                    <option value="">Caracteristica 2</option>
                                    <option value="">Caracteristica 3</option>
                                    <option value="">Caracteristica 4</option>
                                    <option value="">Caracteristica 5</option>
                                    <option value="">Caracteristica 6</option>
                                    <option value="">Caracteristica 7</option>
                                    <option value="">Caracteristica 8</option>
                                    <option value="">Caracteristica 9</option>
                                    <option value="">Caracteristica 10</option>
                                    <option value="">Caracteristica 11</option>
                                    <option value="">Caracteristica 12</option>
                                    <option value="">Caracteristica 13</option>
                                </select>
                            </li>
                            <li><input type="submit" class="boton-submit" value="Registrar Mascota"></li>
							{{/if}}
						</ul>
					</form>
				</div>
			</div>
		</section>
{{/partial}}
{{# partial "footer" }}
{{/partial}}

{{> layout.html.hbs }}