{{# partial "contenido" }}
    <section>
        <div id="registro_mascota_confirmado">
            <div class="container-con_chapa">
                <p>
                    Su mascota fue registrada satisfactoriamente.<br>
                    Imprima el siguiente c&oacute;digo QR y coloqueselo a su mascota para que pueda ser identificada en caso de perderse.
                    <br><br>
                </p><br>
                <img src={{QR}}>
            </div>
        </div>    
    </section>
{{/partial}}
{{> layout.html.hbs }}